@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

h1 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.25em;
	margin: 1.25em 0;
	text-align: left;
}

.fa {
	color: white;
	font-size: 9vw;
}

.divide-10, .divide-20, .divide-25, .divide-30, .divide-40, .divide-50, .divide-60, .divide-70, .divide-80, .divide-90, .divide-100 {
	float: left;
}

.divide-10 {
	width: 10%;
}
.divide-20 {
	width: 20%;
}
.divide-25 {
	width: 25%;
}
.divide-30 {
	width: 30%;
}
.divide-40 {
	width: 40%;
}
.divide-50 {
	width: 50%;
}
.divide-60 {
	width: 60%;
}
.divide-70 {
	width: 70%;
}
.divide-80 {
	width: 80%;
}
.divide-90 {
	width: 90%;
}
.divide-100 {
	width: 100%;
}

.contactpic {
	background-image: url("../pics/autumn.jpg");
	height: 200px;
	background-size: cover;
	background-position: center 50%; 
}
.resize {
	background-image: url("../pics/sky.jpg");
	height: 200px;
	background-size: cover;
	background-position: center 90%; 
}

#overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: black;
	z-index: 2;
}

nav {
	position: absolute;
	height: 100%;
	width: 50%;
	background-color: #F2F2F2;
	z-index: 3;
	left: -50%;
	overflow-y: scroll;
}

nav > ul {
	margin: 0;
	padding: 0;
}

textarea{
	resize: none;
}
h1{

}
fieldset{
	border: none;
	color: #5A5A5A;
}

nav > ul > li {
	list-style: none;
	padding: 25px;
	font-size: 4vw;
}

nav > ul > li:nth-child(odd) {
	background-color: #E4E4E4;
}

.fa.cross {
	float: right;
	font-size: 1.25em;
	position: relative;
	bottom: 35px;
	left: 25px;
	padding: 15px;
	color: #606060;
}

.fa.cross:hover, .fa.bars:hover {
	cursor: pointer;
}

.fa.bars {
	position: relative;
	left: 20px;
	padding-right: 25px;
	float: left;
	color: black;
	top: 8px;
}

.header > h1 {
	display: inline-block;
	font-size: 6vw;
	margin-top: 10px;
	color: black;
}

.overlay-on {
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.overlay-off {
	opacity: 0.5;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.overlay-on, .overlay-off {
}

.display-on {
	visibility: visible;
}

.display-off {
	visibility: hidden;
}

.nav-on {
	left: 0%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition:all 0.5s ease;
}

.nav-off {
	left: -50%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition:all 0.5s ease;
}

.top-margin {
	/* margin-top: 5px; */
	padding-left: 15px;
	background-color: #F3EDE1;
}

.header {
	background-color: white;
	color: white;
	text-align: center;
	height: 48px;
}

label {
	color: #5A5A5A;
}
.error_show{
	color: red;
	margin-left: 10px;
}
input.invalid, textarea.invalid{
	border: 3px solid red;
}

input.valid, textarea.valid{
	border: 3px solid green;
}

#resetform
{
	position: relative;
	left: 30px;
}
#contact_submit
{
	margin-left: 10px;
}
form
{
	margin-bottom: 10%;
}

#header-image {
	background-image: url("../pics/sky.jpg");
	height: 350px;
	background-size: cover;
	background-position: 100% calc(100% + 48px);
}

.center {
	margin: 0 auto;
	float: none;
	vertical-align: middle;
}

.center > article > h1 {
	margin-top: 20px;
	font-size: 5vw;
}	

#resetform
{
	position: relative;
	left: 30px;
}
form
{
	margin-bottom: 10%;
}

#header > h1
{
	font-weight: bolder;
	color: blue;
	text-align: center;
}

ul
{
	list-style-type: none;
}
#blink ul li
{
	padding-top: 5px;
	color: #8D8080;

}

#blink >.divide-25 > ul
{

	
	font-size: 10px;
	word-wrap:break-word;
	padding: 0;
    padding-left: 8px;
    color: white;
    display: inline-block;
    
}

#blink >.left-center
{
	text-align: center;

	
}
footer
{
	background-color: #2F3034;
	height: 100%;
}


.post-body > p {
	font-size: 3vw;
}

.post-footer > p {
	font-size: 2.25vw;
}

.post-body img {
	float: left;
	padding-top: 1vw;
	padding-right: 2.5vw;
	padding-bottom: 1vw;
	max-width: 30vw;
}

.post-body ul {
	padding: 0;
}

.post-body li {
	word-wrap: break-word;
    padding-left: 5px;
    padding-right: 20px;
    padding-bottom: 20px;
}
a:link
{
	color: #8D8080;
	text-decoration: none;
}
a:visited 
{
	color: #8D8080;
}
a:hover
{
	text-decoration: underline;
}

.divide-70 {
	width: 100%;
}

@media all and (orientation:landscape) {
	.fa.bars {
		font-size: 5vw;
	}

	.header > h1 {
		font-size: 4vw;
	}
}

